<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nokieng.gdgvientiane.org.laoair">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Base">
        <activity
            android:name="nokieng.gdgvientiane.org.laoair.SplashScreen"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nokieng.gdgvientiane.org.laoair.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name="nokieng.gdgvientiane.org.laoair.AllFlightActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/title_activity_all_flight"
            android:parentActivityName="nokieng.gdgvientiane.org.laoair.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nokieng.gdgvientiane.org.laoair.MainActivity" />
        </activity>
        <activity
            android:name="nokieng.gdgvientiane.org.laoair.FLightDetailActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/title_activity_flight_detail"
            android:parentActivityName="nokieng.gdgvientiane.org.laoair.AllFlightActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nokieng.gdgvientiane.org.laoair.AllFlightActivity" />
        </activity>
        <activity
            android:name="nokieng.gdgvientiane.org.laoair.SettingsActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/title_activity_settings"
            android:parentActivityName="nokieng.gdgvientiane.org.laoair.AllFlightActivity"
            android:theme="@style/AppTheme"/>

        <provider
            android:name=".data.LaoAirContentProvider"
            android:authorities="nokieng.gdgvientiane.org.laoair" />

    </application>
</manifest>
